.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}

.navbar .logo h2,
.navbar-items li a {
  color: white;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

ul.navbar-items {
  margin-bottom: 0;
}

.navbar-items li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar-items li a:hover {
  color: rgb(221, 3, 3);
  transition: 0.3s ease-in;
}
